* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {

    font-family: sans-serif;
    color: aliceblue;
}

html a {
    text-decoration: none;
}




.item1 {
    grid-area: header;
    display: flex;

}

.slide {
    grid-area: slide;
}

.item3 {
    grid-area: main;
}

.item5 {
    grid-area: footer;
}


@media only screen and (min-width: 150px) and (max-width: 800px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            'header'
            'slide'
            'main '
            'footer';

    }

    body {
        color: black;
    }

    .item1 {
        background-color: black;
        color: aliceblue;
        grid-gap: 3%;
    }

    .item1 img {
        width: 5vw;
        border-radius: 50%;
        padding-top: 2% ;
    }

    .item1 h1 {
        margin-left: 33%;
    }

    .slide {

        background-color: black;
    }

    .item3 {

        background-image: url(../img/smartphone.webp);
        background-repeat: no-repeat;
        background-size: cover;
        width: 51vw;
        background-color: aliceblue;
        margin-bottom: 5%;
    }

    .item3 p {
        margin-left: 110%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 5vw;
    }

    .item3 img {
        width: 28vw;
        height: 22vw;
        cursor: pointer;
        margin-left: 110%;

    }

    .item3 img:hover {
        width: 32vw;
        height: 28vw;

    }

    .slideshow-container {
        width: 100vw;
    }

    .slideshow-container img {
        width: 100vw;
        height: 50vw;

    }

    .item5 {
        background-color: black;
        color: aliceblue;
        padding: 1% 2%  2% 11%;

    }

}

@media only screen and (min-width: 801px) and (max-width: 3800px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            'header'
            'main '
            'slide'
            'footer';

    }

    body {
        background-color: black;
    }

    .item1 {
        grid-gap: 3%;
    }

    .item1 img {
        width: 3vw;
        border-radius: 50%;

    }

    .item1 h1 {

        margin-left: 80%;
    }

    .item3 {

        background-image: url(../img/home-office.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .item3 p {
        margin-left: 8%;
        font-size: 2vw;
    }

    .item3 img {
        width: 14vw;
        height: 10vw;
        cursor: pointer;
        margin-bottom: 200%;
    }

    .item3 img:hover {
        width: 18vw;
        height: 14vw;
        margin: 0;

    }

    .item3div {
        margin: 1% 0 3% 10%;
        display: flex;
        grid-gap: 8%;
    }
    .slideshow-container {
        width: 100vw;
    }

    .slideshow-container img {
        width: 100vw;
        height: 50vw;

    }


    .item5 p {
        margin-left: 70%;
        font-size: 2vw;
    }
}

/* slide */

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */


/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}