* {
    margin: 0;
    padding: 0;
}

body,
html {
   
    font-family: sans-serif;
    color: aliceblue;
}

html a {
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'main '
        'footer';
 
}

.item1 {
    grid-area: header;

    display: flex;

}

.item3 {
    grid-area: main;
    }

.item5 {
    grid-area: footer;
}

@media only screen and (min-width: 150px) and (max-width: 800px) {
    
    body{color: black;}
    .item1 {
        background-color: black;
        color: aliceblue;
        margin-top: 30%;
        margin-bottom: 5%;
        grid-gap: 3%;
    }

    .item1 img {
        width: 5vw;
        border-radius: 50%;
        margin: 2%;
    }

    .item1 h1 {
        margin-left: 33%;
    }
    .item3 {
      
        background-image: url(../img/smartphone.webp);
        background-repeat: no-repeat;
        background-size: cover;
        width: 51vw;
       background-color: aliceblue;
       margin-bottom: 5%;
         }
  
    .item3 img {
        width: 30vw;
        height: 26vw;
        cursor: pointer;  
        margin-left: 110%;
        
           }

    .item3 img:hover {
        width: 32vw;
        height: 28vw;
      
    }
    .item5 {
        background-color: black;
        color: aliceblue;
        padding-left: 11%;
       
    }

}

@media only screen and (min-width: 801px) and (max-width: 3800px) {
     body{
              background-color: black;
    }
    .item1 {
        grid-gap: 3%;
    }

    .item1 img {
        width: 3vw;
        border-radius: 50%;

    }

    .item1 h1 {

        margin-left: 80%;
    }
    .item3 {
      
        background-image: url(../img/home-office.jpg);
        background-repeat: no-repeat;
        background-size: cover;
     
        
    }
  
    .item3 img {
        width: 14vw;
        height: 10vw;
        cursor: pointer;
        margin-bottom: 200%;
    }

    .item3 img:hover {
        width: 18vw;
        height: 14vw;
margin: 0;

    }

    .item3div {
        margin: 1% 0 3% 10%;
        display: flex;
        grid-gap: 8%;
    }

   

    .item5 p {
        margin-left: 70%;
        font-size: 2vw;
    }
}